/**/

#timer {
    font-size: 2em;
    text-align: center;
  } 
  .sidebar{
    display: none;
  }
  .profile-div{
    display: none;
  }
  #main{
    display: none;
  }
  #submit{
    text-align: center;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 10px;
  }
  
  #tab-btn {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
  }
  
  .tab-content, .tab-content-a1{
    display: none;
    padding: 20px;
    border: 1px solid #8CDDFE;
    border-radius: 0 0 5px 5px;
  }

  
  .tab-content p, .tab-content-a1 p{
    margin: 0;
  }

  .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .b1 {
    display: none;
    align-items: center;
    justify-content: center;
  }

  .b2 {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .b2 .content-popup {
    position: fixed;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    background-color: #fcfafa;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .overlay-content-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .content-popup {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: #fcfafa;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .blue-background {
    background-color: #0D6EFD;
    color: white;
  }


  .missed-words-color{
    color: #b80707;
  }

  .green-text{
    color: green;
  }

  .yellow-text{
    color: rgb(255, 162, 0);
  }

  .purple-text{
    color: purple;
  }

  .orange-text{
    color: rgb(225, 98, 7);
  }

  .white-text{
    color: white;
  }

  #b2-pronoun{
    font-size: 10px;
    text-align: left;
  }

  #b2-content{
    font-size: 10px;
    text-align: left;
  }

  .lh-sm{
    margin-top: 10px;
  }

  .togel-section2{
    display: none;
  }

  .bold-text {
    font-weight: bold; /* Keyword for bold */
}
 